.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}

.header img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo {
  color: var(--text-color);
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

/* NAV con UL y LI */
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 35px;
}

.navbar ul li a {
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: var(--hover-color);
}

/* Icono de menú */
#menu-icon {
  position: absolute;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none; /* Oculto en desktop */
  z-index: 1100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.9); /* más oscuro */
  opacity: 1;
  visibility: visible;
}
